﻿@model GAP.InsuranceTest.Core.Entities.BeneficiaryInsurance

@{
    ViewData["Title"] = "Associate";
}

<h1>Associate</h1>

<h4>BeneficiaryInsurance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Associate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="insuranceId" class="control-label"></label>
                <select asp-for="insuranceId" class="form-control" asp-items="ViewBag.insuranceId"></select>
            </div>
            @{
                List<GAP.InsuranceTest.Core.Entities.Beneficiary> listBeneficiaries = ViewBag.beneficiaries;
                foreach (var item in listBeneficiaries)
                {
                    @Html.CheckBox(item.full_name, new { value = item.id, @class = "form-control" })
                    @Html.Label(item.full_name)
                }
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
