﻿@model GAP.InsuranceTest.Core.Entities.Insurance

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Insurance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control"  />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control"  />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start_date" class="control-label"></label>
                <input asp-for="start_date" class="form-control" type="date" />
                <span asp-validation-for="start_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="period" class="control-label"></label>
                <input asp-for="period" class="form-control" type="number" />
                <span asp-validation-for="period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total_price" class="control-label"></label>
                <input asp-for="total_price" class="form-control" type="number" />
                <span asp-validation-for="total_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check-inline">
                    <label class="control-label">Coberturas</label>
                    @{
                        List<GAP.InsuranceTest.Core.Entities.Coverage> listCoverages = ViewBag.coverageList;
                        foreach (var item in listCoverages)
                        {
                            <input type="checkbox" value="@item.id" name="coverages" class="form-control" />
                            @*@Html.CheckBox("coverages", new { value = item.id, @class = "form-control" })*@
                            @Html.Label(item.name)
                        }
                    }

                </div>
            </div>
            <div class="form-group">
                <label asp-for="insuranceRiskType" class="control-label"></label>
                @Html.DropDownListFor(x => x.insuranceRiskTypeid, new SelectList(ViewBag.rtlist, "id", "risk_type", "Select"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="coverage_percent" class="control-label"></label>
                <input asp-for="coverage_percent" class="form-control" type="number" />
                <span asp-validation-for="coverage_percent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
