﻿@model GAP.InsuranceTest.Core.Entities.Insurance

@{
    ViewData["Title"] = "Detalles";
}

<h1>Details</h1>

<div>
    <h4>Insurance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.start_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.start_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.period)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.period)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.total_price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.total_price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.insuranceRiskType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.insuranceRiskType.risk_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.coverage_percent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.coverage_percent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Modificar</a> |
    <a asp-action="Index">Regresar</a>
</div>
