﻿@model IEnumerable<GAP.InsuranceTest.Core.Entities.Insurance>

@{
    ViewData["Title"] = "Index";
}

<h1>Pólizas</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.coverage_percent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.coverage_percent)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Ver</a> |
                <a asp-action="Edit" asp-route-id="@item.id">Modificar</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
