﻿@model IEnumerable<GAP.InsuranceTest.Core.Entities.Beneficiary>

@{
    ViewData["Title"] = "Index";
}

<h1>Beneficiarios</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Crear</a>&emsp;
    <a asp-controller="BeneficiaryInsurances" asp-action="Create" class="btn btn-info">Asociar póliza</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Num Identitificación Cliente
            </th>
            <th>
                Nombre Completo
            </th>
            <th>
                Fecha de Nacimiento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birth_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
