﻿@model GAP.InsuranceTest.Core.Entities.BeneficiaryInsurance

@{
    ViewData["Title"] = "Create";
}

<h1>Asociar Póliza</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Póliza</label>
                <select asp-for="insuranceId" class="form-control" asp-items="ViewBag.insuranceId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Beneficiario</label>
                <select asp-for="beneficiaryId" class="form-control" asp-items="ViewBag.beneficiaryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
