﻿@model GAP.InsuranceTest.Core.Entities.BeneficiaryInsurance

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BeneficiaryInsurance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.insurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.insurance.id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.beneficiary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.beneficiary.id_number)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="insuranceId" />
        <input type="hidden" asp-for="beneficiaryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
