﻿@model GAP.InsuranceTest.Core.Entities.BeneficiaryInsurance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BeneficiaryInsurance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.insurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.insurance.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.beneficiary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.beneficiary.id_number)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
