﻿@model IEnumerable<GAP.InsuranceTest.Core.Entities.BeneficiaryInsurance>

@{
    ViewData["Title"] = "Index";
}

<h1>Pólizas de clientes</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Póliza
            </th>
            <th>
                Número Identificación
            </th>
            <th>
                Beneficiario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.insurance.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beneficiary.id_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beneficiary.full_name)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
